<div class="grid_12">
  <div class="box">
    <div class="header">
      <h2><%= @team.name %> &mdash; Coach : <%= @team.coach %></h2>
      <div class="add_game">
        <% if @team.administerable?(current_user) -%>
          <% unless @team.players && @team.players.size > 1 %>
            <a class="button flat red" href="<%= edit_member_team_path(current_user, @team) %>">Manage Roster</a>
          <% else -%>
            <a class="button flat grey" href="<%= edit_member_team_path(current_user, @team) %>">Manage Roster (<%= @team.players.size %>)</a>
          <% end -%>
        <% end -%>
      </div>
    </div>
    <div class="content">
      <table class="styled">
        <thead>
            <td style="display:none;">Game #</td>
            <td>Date</td>
            <td>Time</td>
            <td>Opponent</td>
            <td>Location</td>
            <td>Score</td>
            <td>Game Report</td>
        </thead>
        <tbody>
          <% @team.games.each do |game| -%>
            <tr>
              <td class="game_id" style="display:none;"><%= game.id %></td>
              <td class="game_date"><%= game.game_time.strftime('%m/%d/%Y (%a)') %></td>
              <td><%= game.game_time ? game.game_time.strftime('%I:%M %p') : '' %></td>
              <td class="game_opponent"><%= game.opponent(@team) %></td>
              <td><%= game.location %></td>
              <td class="game_score"><%= game.final_score %></td>
              <td>
                <% if game.home_team_report -%>
                  <span class="badge green">Home</span>
                <% else -%>
                  <% if game.home_team === @team -%>
                    <a class="button flat" href="<%= new_team_game_game_report_path(@team, game) %>">Enter</a>
                  <% else -%>
                    <span class="badge red">Home</span>
                  <% end -%>
                <% end -%>
                &nbsp; | &nbsp;
                <% if game.away_team_report -%>
                  <span class="badge green">Away</span>
                <% else -%>
                  <% if game.away_team === @team -%>
                    <a class="button flat" href="<%= new_team_game_game_report_path(@team, game) %>">Enter</a>
                  <% else -%>
                    <span class="badge red">Away</span>
                  <% end -%>
                <% end -%>
              </td>
            </tr>  
          <% end -%>  
        </tbody>
      </table>
    </div>
  </div>
</div>

