<script type="text/javascript">
	var $teamId = <%= @team.id %>;
</script>

<div class="topmainbox">
	
	<%= render :partial => "shared/team_header_non_participant" %>


	<div id="columns">
		<div class="center">
	
			<table class="gamelist">
				<tr class="head">
					<td></td>
					<td>Date</td>
					<td>Time</td>
					<td>Day</td>
					<td>Location</td>
					<td>Home Team</td>
					<td>Away Team</td>
					<td>Game Report</td>
				</tr>
				<%@calendar.each_index {|i|%>
					<% entry =@calendar[i] %>
					<% if i % 2 == 0 %>
						<tr class="even">
					<% else %>
						<tr class="odd">
					<% end -%>
					<% if entry && entry.class.name=="Game"%>
						<td><%= "Game ##{i+1}" %></td>
						<td><%=entry.scheduled_at.strftime("%B %e")%></td>
						<td><%=entry.scheduled_at.strftime("%l:%M %p") %></td>
						<td><%=entry.scheduled_at.strftime("%A") %></td>
						<td><%=entry.location.to_s %></td>
						<td><%= entry.home_team.selected_name ? entry.home_team.selected_name : entry.home_team.name %></td>
						<td><%= entry.away_team.selected_name ? entry.away_team.selected_name : entry.away_team.name %></td>
						<td>
							<% if @team.has_game_report(entry) %>
								<b><%= link_to "View", team_game_game_report_path(@team, entry, @team.game_report(entry)) %></b>
								&nbsp;|&nbsp;
								<b><%= link_to "Edit", edit_team_game_game_report_path(@team, entry, @team.game_report(entry)) %></b>
							<% else -%>
								<%= link_to "Create New", new_team_game_game_report_path(@team, entry) %></td>
							<% end -%>
					<% end -%>	
					</tr>
				<%} if @calendar%>
			</table>
		</div>
	</div>
</div>
