<div id="sponsor_review">
	<h2>Thank you for your Sponsorship</h2>
		<div id="sponsor_details">
			<p><%= @hub.name %> is very grateful for your sponsorship. Our tax ID is <%= @hub.tax_id %>. Please print this page for your records.</p> 
			<br />
			<p>Please consider sending your logo to our sponsorship team <a href="mailto:<%= @hub.sponsor_email %>">(<%= @hub.sponsor_email%>)</a> so that we can include it in our web site</p>
			<h3>Sponsor Details</h3>
			<%= @sponsor.company_name %>&nbsp;<%= @sponsor.company_website %>
			<br />
			<%= @sponsor.street_address %>
			<br />
			<%= @sponsor.city %>,&nbsp;<%= @sponsor.state %>&nbsp;<%= @sponsor.zip_code %>
			<br />
			<br />
			<h3>Contact Details</h3>
			<%= @sponsor.contact_name %>&nbsp;<%= @sponsor.contact_email %>&nbsp;<%= @sponsor.contact_phone %>
			<hr />
			<h3>Sponsorship Details</h3>
				Option Selected: <%= @sponsorship_option.group %>&nbsp;<%= @sponsorship_option.name %>&nbsp;<%= @sponsorship_option.description %>
				<br />
				Total Amount: $<%= @sponsored_option.amount %>
				<br />
				Additional information: <%= @sponsored_option.additional_info %>
			<hr />
		</div>
</div>	

<div class="clear-both">
</div>
