<h1>Welcome to StrikeZone - A Work in Progress towards v2</h1>


<div class="grid_16">
  <%= form_for @user, :as => :user, :url => user_session_path, :html => { :class => "box"} do |f| -%>
<div class="alert note">
    <span class="icon"></span>
    <strong>If you have not signed up yet, please <a href="/users/sign_up" class="button flat">Sign Up</a> first</strong>
</div>
  <% if flash[:alert] -%>
    <div class="alert error">
      <span class="icon"></span>
      <strong><%= flash[:alert] %></strong>
    </div>
  <% end -%>
    <div class="header">
      <h2>Sign In</h2>
    </div>
    <div class="content">
      <div class="row">
        <%= f.label :email %>
        <div>
          <%= f.email_field :email %>
        </div>
      </div>
      <div class="row">
        <%= f.label :password %>
        <div>
          <%= f.password_field :password %>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="left">
      </div>
      <div class="right">
        <%= f.submit "Sign In" %>
      </div>
    <div>
  <% end -%>
</div>
